NODE_ENV="dev" # не используется, если запущено через докер, т.к. перезаписывается

RABBIT_URL="amqp://myuser:mypass@host:5672"
RABBIT_QUEUE_NAME="job_queue"
RABBIT_DEAD_QUEUE_NAME="dead_job_queue"

API_URL="http://host:3000/api/worker"
WORKER_AUTH_TOKEN="abcdefghigklmnop"
